<% if @upload.exception %>
  <div class="row analysis-exception">
    <p>Result: an exception occurred</p>
  </div>

  <div class="row">
    <h2>Details</h2>
  </div>

  <div class="row">
    <pre><%= @upload.exception.pretty_inspect %></pre>
  </div>
<% elsif @upload.errors? %>
  <div class="row analysis-invalid">
    <p>Result: invalid</p>
  </div>

  <% if @upload.schema_errors? %>
    <div class="row">
      <h2>Schema errors</h2>
    </div>

    <div class="row">
      <%= render partial: 'errors', locals: { errors: @upload.schema_errors } %>
    </div>
  <% end %>

  <% if @upload.object_errors? %>
    <div class="row">
      <h2>Object errors</h2>
    </div>

    <div class="row">
      <%= render partial: 'errors', locals: { errors: @upload.object_errors } %>
    </div>
  <% end %>
<% else %>
  <div class="row analysis-valid">
    <p>Result: valid</p>
  </div>
<% end %>
