<%= form_tag(case_files_path, multipart: true) do %>
  <div class="row">
    <%= label_tag :raw, 'File' %>
    <%= file_field_tag 'case_file[raw]', id: :raw %>
  </div>
  <div class="row">
    <%= button_tag('Upload') %>
  </div>
<% end %>
